spring:
  datasource:
    url: jdbc:mysql://localhost:3306/whatsapp-clone
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/whatsapp-clone

  servlet:
    multipart:
      max-file-size: 50MB
application:
  file:
    uploads:
      media-output.path: ./uploads
